@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto Condensed";
}

:root {

    /* backgrounds */
    --bg-dark:          #052E16;
    --bg-dark-mid:      #14532D;
    --bg-light:         #F0FDF4;
    --bg-light-mid:     #DCFCE7;
    --bg-chatmain: #1B1C21;
    --bg-dark-gradient: linear-gradient(135deg, #0A3D1F 0%, #052E16 100%);

    /* brand */
    --brand-primary:       #16A34A;
    --brand-primary-hover: #22C55E;
    --brand-secondary:     #15803D;

    /* text */
    --text-on-dark:   #FFFFFF;
    --text-on-light:  #166534;
    --text-secondary: #D1D2D3;
    --text-muted:     #6B9E7A;

    /* border colors */
    --border-color-subtle: #166534;
    --border-color-light:  rgba(255, 255, 255, 0.1);

    /* border radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 24px;

    /* font-size */
    --text-xs:   0.75rem;
    --text-sm:   0.85rem;
    --text-base: 1rem;
    --text-md:   1.15rem;
    --text-lg:   1.5rem;
    --text-xl:   2.5rem;
    --text-2xl:  4rem;

    /* max widths */
    --max-width-page:    1100px;
    --max-width-content: 800px;

    /* spacing */
    --space-xs:  0.25rem;
    --space-sm:  0.5rem;
    --space-md:  1rem;
    --space-lg:  1.5rem;
    --space-xl:  2rem;
    --space-2xl: 3rem;

    /* wheight */
    --weight-xs: 400px;  
    --weight-sm: 600px;
    --weight-md: 800px;
    --weight-lg: 900px
}
