.workspace-layout {
    display: flex;
    height: 100dvh;
    width: 100vw;
    background-color: var(--bg-dark);
}

.outer-sidebar {
    background: var(--bg-dark);
    width: 4rem;
    color: var(--text-on-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: var(--space-sm) 0;
    border-right: 1px solid var(--border-color-subtle);
}

.workspace-icon {
    width: 48px;
    height: 48px;
    background: var(--bg-light-mid);
    color: var(--text-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--weight-md);
    font-size: var(--text-lg);
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: var(--space-sm);
    text-decoration: none;
}

.workspace-icon:hover {
    border-radius: 12px;
    background: var(--brand-primary);
    color: white;
}

.inner-sidebar {
    background: var(--bg-dark-mid);
    width: 260px;
    padding: var(--space-md);
    color: var(--text-on-dark);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color-subtle);
    gap: var(--space-md);
}

.channels-title {
    padding: 0.5rem 0.5rem;
    font-size: var(--text-sm);
    color: var(--text-secondary);
    font-weight: var(--weight-md);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 0.25rem;
}

.channel-list {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.channel-item {
    padding: 0.4rem 0.6rem;
    text-decoration: none;
    color: var(--text-secondary);
    background-color: transparent;
    border-radius: var(--radius-md);
    width: 100%;
    display: flex;
    font-size: var(--text-base);
    transition: background 0.1s ease;
    cursor: pointer;
}

.channel-item:hover {
    background-color: var(--bg-light-mid);
    color: var(--text-primary);
}

.channel-item.active {
    background-color: var(--brand-primary);
    color: var(--text-primary);
}

.workspace-icon.active {
    border-radius: 12px;
    background: var(--brand-primary);
    color: white;
}

.create-channel-btn {
    height: min-content;
    padding: var(--space-sm);
    color: white;
    background: none;
    width: 100%;
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
}

.create-channel-btn:hover {
    background-color: var(--bg-surface);
}

.create-channel-btn:active {
    background: var(--brand-primary);
}

@media (max-width: 768px) {

    /* La clase has channel debe de desaparecer y la barra lateral tambien*/
    .workspace-layout.has-channel .outer-sidebar,
    .workspace-layout.has-channel .inner-sidebar {
        display: none;
    }

    .inner-sidebar {
        flex: 1;
    }
}